body {
  font-family: "Akzidenz-Grotesk Next", sans-serif;
  color: black;
  margin-left: 12%;
  margin-right: 12%;
  font-size: 1vw;
  background: whitesmoke;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 3%;
}

.header_left {
  font-size: 1.8vw;
  height: auto;
  width: 50%;
  position: relative;
}

.header_right {
  position: absolute;
  right: 12%;
}

.header_menu_right {
  margin-left: 10px;
  text-decoration: none;
  color: inherit;
}

.header_menu_left {
  text-decoration: none;
  color: inherit;
}

.header_menu_left:hover {
  text-decoration: none;
  color: inherit;
}

.header_menu_right:hover {
  text-decoration: underline;
}

.intro {
  padding-bottom: 3%;
}

@media only screen and (max-width: 1025px) {
  body {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 1025px) {
  .header_left {
    font-size: 5.7vw;
  }
}

@media only screen and (max-width: 1025px) {
  .header {
    margin-top: 12%;
  }
}

.viewer {
  overflow: hidden;
  height: 80vh;
}
