body {
  font-family: "Akzidenz-Grotesk Next", sans-serif;
  color: black;
  margin-left: 12%;
  margin-right: 12%;
  font-size: 1vw;
  background: whitesmoke;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 3%;
}

.header_left {
  font-size: 1.8vw;
  height: auto;
  width: 50%;
  position: relative;
}

.header_right {
  position: absolute;
  right: 12%;
}

.header_menu_right {
  margin-left: 10px;
  text-decoration: none;
  color: inherit;
}

.header_menu_left {
  text-decoration: none;
  color: inherit;
}

.header_menu_left:hover {
  text-decoration: none;
  color: inherit;
}

.header_menu_right:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1025px) {
  body {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 1025px) {
  .header_left {
    font-size: 5.7vw;
  }
}

@media only screen and (max-width: 1025px) {
  .header {
    margin-top: 12%;
  }
}

.content_left {
  margin-top: 4%;
}

.content_link {
  margin-top: 0.2vw;
  cursor: pointer;
  width: 250%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.content_link_year {
  padding-right: 10px;
}

.content_link_year:hover {
  text-decoration: underline;
}

.content_link_type {
  padding-left: 0.2vw;
  font-size: 0.7vw;
}

@media only screen and (max-width: 1025px) {
  .content_link_type {
    padding-left: 0.2%;
  }
}

.content_total {
  display: flex;
  margin-bottom: 5%;
}

.content_right {
  margin-bottom: 10%;
}

.content_images {
  margin-top: 4%;
  display: grid;
  grid-template-columns: repeat(2, 30% 70%);
  grid-template-rows: repeat(8, auto);
  grid-gap: 1%;
  margin-left: 15%;
  padding-top: 0.5%;
}

.content_images_image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, auto);
  grid-gap: 1%;
  margin-left: 5%;
  padding-top: 0.5%;
}

img {
  width: 100%;
}

@media only screen and (max-width: 1025px) {
  .content_total,
  .content_images {
    display: block;
    margin-left: 0;
  }
}

@media only screen and (max-width: 1025px) {
  .content_images_image {
    display: grid;
    margin-left: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-gap: 1%;
    padding-top: 4%;
    padding-bottom: 20%;
  }
}

@media only screen and (max-width: 1025px) {
  .content_images_text {
    font-size: 3vw;
  }
}
